@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using SdWP.Data.Models;
@using SdWP.Service.IServices
@using SdWP.Service.Services
@using SdWP.DTO.Requests;
@inject IProjectService ProjectInteractions
@attribute [Authorize]

@page "/projects/add"
@rendermode InteractiveServer

<PageTitle>Add Project</PageTitle>
    
<EditForm Model="project" OnValidSubmit="AddProjectToDbAsync" FormName="AddProjectForm">
    <DataAnnotationsValidator />
    <ValidationSummary class="alert alert-danger" />
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="titleInput" class="form-label">Title</label>
            <InputText id="titleInput" class="form-control" @bind-Value="project.Title" placeholder="Title"/>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="descriptionInput" class="form-label">Description</label>
            <InputText id="descriptionInput" class="form-control" @bind-Value="project.Description" placeholder="Description" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Confrim</button>
</EditForm>

@code {
    [Inject] NavigationManager Navigation { get; set; } = default!;
    [Inject] protected ToastService ToastService { get; set; } = default!;

    private ProjectUpsertRequestDTO project = new ProjectUpsertRequestDTO();

    private async Task AddProjectToDbAsync()
    {
        var response = await ProjectInteractions.CreateProjectAsync(project);

        ToastService.Notify(new ToastMessage(response.Success && response.Message != null ? ToastType.Success : ToastType.Secondary, response.Message));

        Navigation.NavigateTo("/projects", true);
    }
}
