@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using SdWP.DTO.Requests;
@using SdWP.DTO.Requests.ProjectRequests
@using SdWP.DTO.Responses;
@using SdWP.DTO.Responses.ProjectRequests
@using SdWP.Data.Models;
@using SdWP.Service.IServices
@inject IProjectService ProjectService
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ToastService ToastService
@attribute [Authorize]

@page "/projects/add"
@rendermode InteractiveServer

<PageTitle>Add Project</PageTitle>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger" role="alert">
        @message
    </div>
}
    
<EditForm Model="project" OnValidSubmit="AddProjectToDbAsync" FormName="AddProjectForm">
    <DataAnnotationsValidator />
    <ValidationSummary class="alert alert-danger" />
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="titleInput" class="form-label">Title</label>
            <InputText id="titleInput" class="form-control" @bind-Value="project.Title" placeholder="Title"/>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="descriptionInput" class="form-label">Description</label>
            <InputText id="descriptionInput" class="form-control" @bind-Value="project.Description" placeholder="Description" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-secondary" type="button" @onclick='() => Navigation.NavigateTo("/projects")'>Cancel</button>
</EditForm>

@code {
    private string message = string.Empty;
    private ProjectCreateRequest project = new();

    private async Task AddProjectToDbAsync()
    {
        var response = await ProjectService.CreateProjectAsync(project);

        if (response != null && response.Success)
        {
            ToastService.Notify(new ToastMessage(ToastType.Success, "Project was added successfully"));
            Navigation.NavigateTo("/projects");
        }
        else
        {
			message = response?.Message ?? "Adding the project failed. Try again.";
        }
    }
}