@page "/projects"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@using ProjectInteractions
@using Microsoft.AspNetCore.Components.Authorization

@inject ToastService ToastService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS
@attribute [Authorize]

<div class="d-flex justify-content-end mb-12">
    <Button Class="add-project-btn" Color="ButtonColor.Success" @onclick='() => NavigationManager.NavigateTo("/projects/add")'>Add project</Button>
</div>

<table id="projectsViewTable" class="display">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<SdWP.Frontend.Components.Pages.Project.ProjectInteractions.DeleteModal/>

<SdWP.Frontend.Components.Pages.Project.ProjectInteractions.Toast/>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeDataTable");
        }
    }
}
