@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using SdWP.Frontend.Components.Layout

@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject HttpClient Http

<h1>Admin Dashboard</h1>

<button @onclick="Logout" class="btn btn-primary">Logout</button>


<RegisterUserModal Show="showModal" OnClose="@(() => showModal = false)" />
<button @onclick="ToggleModal" class="btn btn-primary">Register new user</button>


@code {
    private bool showModal = false;

    private void ShowModal()
    {
        showModal = true;
    }

    private async Task Logout()
    {
        var response = await Http.PostAsync("api/login/logout", null);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/login", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Logout failed.");
        }
    }

    private void ToggleModal()
    {
        showModal = !showModal;
    }
}