@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using SdWP.Frontend.Components.Layout
@using Serilog

@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider Auth

<h2>Welcome @adminName</h2>

@code {
    private string? adminName;
    private bool _isInvoke = true;

    protected override async Task OnInitializedAsync()
    {
        OnAfterRenderAsync(_isInvoke);
        var authState = await Auth.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            adminName = user.Identity.Name ?? "admin";
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await JSRuntime.InvokeVoidAsync("initDataTable.destroy", "userTable");
            }
        }
        catch (Exception e)
        {
            Log.Error($"[{DateTime.UtcNow}] Error during Admin dashboard {e.Message}");
        }
    }
}