@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject IJSRuntime JS

<Toasts class="p-3" @rendermode=InteractiveServer AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a href="/user/changepassword" id="resetPasswordBtn">Change password</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>