@inject NavigationManager Navigation

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" @onclick='() => NavigateForce("/projects")' style="cursor: pointer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Projects
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" @onclick='() => NavigateForce("/")' style="cursor: pointer">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" @onclick='() => NavigateForce("/counter")' style="cursor: pointer">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" @onclick='() => NavigateForce("/weather")' style="cursor: pointer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </a>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" @onclick='() => NavigateForce("/register")' style="cursor: pointer">
                <span class="bi bi-person-plus" aria-hidden="true"></span> Register
            </a>
        </div>
    </nav>
</div>

@code {
    void NavigateForce(string url)
    {
		Navigation.NavigateTo(url, forceLoad: true); 
        // nie mam lepszego pomysłu, inaczej jest problem z odświeżaniem stron
    }
}
